body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  height: 100%;
  margin: 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 5px;
}
.sidebar {
  display: none;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #324e73;
    border-right: 1px solid #eee;
    color: #ffffff;
  }
}

.selected a {
  font-weight: 900;
  font-size: 16px;
}

.main {
  margin-top: 20px;
  padding: 20px 40px;
}