body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  padding-left: 20px;
  width: 600px;
  margin: 20px auto;
  color: dimgray;
}

.trello-box {
  width: 300px;
  padding: 5px;
}

.box-wrapper {
  padding: 2px 5px;
}

.box-wrapper .row {
  margin-bottom: 10px;
}

.swimlane-title {
  font-weight: 900;
  font-size: 16px;
}

.more-actions {
  margin-top: -2px;
  margin-right: 15px;
}

.more-actions a{
  font-size: 16px;
}

.box-footer {
  color: darkgray;
}

.panel-body {
  padding: 7px;
}

.panel {
  margin-bottom: 10px;
}