body {
  font-family: Verdana, Geneva, sans-serif;
}

.hacker-wrapper {
  width:800px;
  margin: 0 auto;
}


/* nav */
.head-nav {
  background-color: #ff6600;
  color: black;
  padding: 3px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #222222;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.head-nav img {
  border: 1px solid white;
}
.nav-seperator {
  margin: 0 5px;
}

.navbar-title {
  font-weight: 900;
  margin-right: 10px;
  margin-left: 5px;
}

.nav-item-group {
  vertical-align: top;
  display: inline-block;
}

/* content body */

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.row-id {
  width: 20px;
  display: inline-block;
}

.position-indicator {
  font-size: 15pt;
  color: #828282;
  display: inline-block;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
  margin-top: 4px;
  margin-left: 26px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

a:visited {
  color: #828282;
  text-decoration: none;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
}

.votelinks {

}

.rank {

}



.article-box {
  background-color: #f6f6ef;
  padding: 10px
}