body {
  font-family: Verdana, Geneva, sans-serif;
}

.hacker-wrapper {
  width:800px;
  margin: 0 auto;
}

.head-nav {
  background-color: #ff6600;
  color: black;
  padding: 3px;
}


.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
  margin-top: 4px;
  margin-left: 20px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

a:visited {
  color: #828282;
  text-decoration: none;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
}

.votelinks {

}

.rank {

}

.article-box {
  background-color: #f6f6ef;
  padding: 10px
}