.item {
    margin-bottom: 10px;
    height: 100%;
    padding: 8px;
}

.item-arrows {
    color: #b3b3b3;
    font-size: 12px;
    display: inline-block;
    width: 20px;
    height: 65px;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: top;
}

.item-title a {
    color: #c05b4d;
    font-size: 18px;
    width: 85%;
}

.comments {
    color: #c05b4d;
}

.item-subtitle {
    color: #b3b3b3;
    font-size: 12px;
}

.item-author {
    color: #4d5763;
    padding-left: 5px;
}

a {
    color: #b3b3b3;
    padding: 0 1px;
    text-decoration: none;
}

.ups-count {
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
    width: 11px;
}
.thumb {
    height: 64px;
    width: 64px;
}

.default-circle {
    background: #b3b3b3;
    border-radius: 64px;
    color: white;
    height: 64px;
    font-weight: bold;
    font-size: 32px;
    width: 64px;
    margin-top: -20px;
}

.default-circle span {
    display:table-cell;
    vertical-align:middle;
    height:64px;
    width:64px;
    text-align:center;
    padding: 0 15px;
}

.item-thumb-block {
    display: inline-block;
    width: 80px;
    height: 65px;
    margin-right: 7px;
    vertical-align: top;
}

.item-text-block {
    display: inline-block;
    width: 85%;
}

a:hover {
    color: #c05b4d;
}