.CartItem-count {
    padding: 5px 10px;
    border: 1px solid #cccccc;
}

.CartItem-addOne,
.CartItem-removeOne {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

.CartItem-addOne {
    border-left: none;
}

.CartItem-removeOne {
    border-right: none;
}